.auth-page {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.auth-card {
  background: #ffffff;
  padding: 2rem;
  border: #ccc solid 1px;
  border-radius: 16px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}

.auth-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.auth-header img {
  width: 85px;
  height: 85px;
}

.auth-card h1 {
  text-align: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.auth-form input {
  margin-bottom: 1rem;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.auth-card a {
  font-size: 0.9rem;
  text-align: center;
  color: var(--color-primary);
  text-decoration: none;
}

.erro {
  color: var(--color-logoff);
  margin-bottom: 1rem;
  text-align: center;
}

.divisor {
  text-align: center;
  /* margin: 1rem 0; */
  position: relative;
}

.divisor::before,
.divisor::after {
  content: "";
  height: 1px;
  background: #ddd;
  position: absolute;
  top: 50%;
  width: 40%;
}

.divisor::before {
  left: 0;
}

.divisor::after {
  right: 0;
}
